<%
  @back_button ||= root_path
%>

<h1>Create New Teacher</h1>

<%= render "form", locals: { form_path: admin_teachers_path, method: :post }%>

<%= link_to 'Back to list', admin_teachers_path, class: 'btn btn-secondary' %>
