<div class="flex items-center gap">
  <div>
    <%= link_to "Home", root_path %>
  </div>
  <% if defined?(current_teacher) && current_teacher&.admin? %>
    <hr class="mi-2 border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
    <div>
        <%= link_to "Admin Dashboard", admin_teachers_path %>
    </div>
  <% end %>
  <hr class="mi-2 border-is border-dark" style="block-size: 1.5rem" aria-hidden="true">
  <div>
    <% if teacher_signed_in? %>
      <%= button_to "Logout", destroy_teacher_session_path, method: :delete, data: { turbo: true }, class: "btn" %>
    <% end %>
  </div>
</div>

