<div class="card flex flex-col">
  <div class="flex flex-col gap-half">
    <h1 class="text-2xl font-semibold leading-none"><%= @document.title %></h1>
    <p class="text-sm text-subtle prose"><%= raw @document.render_html %></p>
  </div>
</div>
